$m1: 'MuseoCyrillic-100';
$m1i: 'MuseoCyrillic-100Italic';
$m3: 'MuseoCyrillic-300';
$m4i: 'MuseoCyrillic-300Italic';
$m5: 'MuseoCyrillic-500';
$m5i: 'MuseoCyrillic-500Italic';
$m7: 'MuseoCyrillic-700';
$m7i: 'MuseoCyrillic-700Italic';
$m9: 'MuseoCyrillic-900';
$m9i: 'MuseoCyrillic-900Italic';
$ms1: 'MuseoSansCyrl-100';
$ms1i: 'MuseoSansCyrl-100Italic';
$ms3: 'MuseoSansCyrl-300';
$ms3i: 'MuseoSansCyrl-300Italic';
$ms5: 'MuseoSansCyrl-500';
$ms5i: 'MuseoSansCyrl-500Italic';
$ms7: 'MuseoSansCyrl-700';
$ms7i: 'MuseoSansCyrl-700Italic';
$ms9: 'MuseoSansCyrl-900';
$ms9i: 'MuseoSansCyrl-900Italic';

$cdbl: #22243f;
$cins: #ca1946;
$cfb: #47508d;
$ctg: #67acd3;

$brand-red: #f33;
$brand-blue: #336;

$primary:       #131952 !default;
$danger:        #f43838;

//$link-color: #131952;
//$input-focus-border-color: #2b39ba;
