.apelsin_logo {
  background: #FFF;
  color: #000;
  border: 1px solid #EF8C3D;
}
.apelsin_logo i {
  background: url("../images/logo-uzum.svg") no-repeat left center;
  background-size: contain;
  width: 85px;
  height: 22px;
  display: flex;
  float: right;
}
