.freedompay_logo {
  background: #FFF;
  color: #000;
  border: 1px solid #4ebd41;
}
.freedompay_logo i {
  background: url("../images/logo-freedompay.svg") no-repeat left center;
  background-size: contain;
  width: 66px;
  height: 22px;
  display: flex;
  float: right;
}
.freedompay_logo span.fab {
  font-size: 22px;
  vertical-align: middle;
}