.paymo_logo {
  border: 1px solid #181F34;
  background: #FFF;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#4ABBBC));
  background: -webkit-linear-gradient(#FFF 0%, #4ABBBC 100%);
  background: -moz-linear-gradient(#FFF 0%, #4ABBBC 100%);
  background: -o-linear-gradient(#FFF 0%, #4ABBBC 100%);
  background: linear-gradient(#FFF 0%, #4ABBBC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#4ABBBC',GradientType=0 );
}
.paymo_logo i {
  background: url("../images/logo-paymo.svg") no-repeat left center;
  background-size: contain;
  width: 84px;
  height: 22px;
  display: flex;
  float: right;
}
